*{
    font-family: 'CustomFont';
}
.mat-icon{
    font-family: 'Material Icons' !important;
}
.fa {
    font-family: 'FontAwesome' !important;
}
mat-toolbar{
    background-color: #2A8168;
    color: white;
  }
.dummy-flex{
    flex: 5.5;
}
.font-flex{
    font-size: 18px;
}
@media screen and (max-width:960px) {
    .dummy-flex{
        flex: 3;
    }
    .font-flex{
        font-size: 12px;
    }
}