<!-- <div class="container"> -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">



        <!-- <a class="navbar-brand" routerLink="/dashboard">
        <img class="logo" src="../../../assets/images/PAS-Logo.png">
    </a> -->
        <div class="nav-item mx-auto text-center">
            <p class="mobileView"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{todayDate | date:'MMMM
                d'}}</p>

        </div>
        <div class="nav-item ml-auto">
            <a class="nav-link customericon">
                <img [src]="" class="customerImg"> &nbsp;&nbsp;
                <span class="username">Manjula Yadav</span>
            </a>
        </div>&nbsp;&nbsp;

    </nav>
<!-- </div> -->