<div class="globalcss_container">
    <h5 class="title">&nbsp; Welcome to Sales-Order Dashboards</h5>
    <div class="container">
        <h5 class="title">List of Sales Orders</h5>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">

                <thead style="text-align:center">
                    <tr>
                        <th>Category</th>
                        <th>Customer Name</th>
                        <th>Order ID</th>
                        <th>Total Amount</th>
                        <th>Orer Date</th>
                        <th>Type</th>
                        
                    </tr>

                </thead>
                
                <tr style="text-align:center">
                    <td>1</td>
                    <td>123</td>
                    <td>12345</td>
                    <td>1</td>
                    <td>123</td>
                    <td>12345</td>
                    
                </tr>
                <tr style="text-align:center">
                    <td>1</td>
                    <td>123</td>
                    <td>12345</td>
                    <td>1</td>
                    <td>123</td>
                    <td>12345</td>
                   
                </tr>
                <tr style="text-align:center">
                    <td>1</td>
                    <td>123</td>
                    <td>12345</td>
                    <td>1</td>
                    <td>123</td>
                    <td>12345</td>
                   
                </tr>
                
            </table>
        </div>
    </div>
</div>
