.wrapper {
  width: 16%;
  position: fixed;
  height: 100%;
  background-color: #000f41;
  overflow-y: scroll;
  z-index: 2;

  /* margin-top: -4rem; */
  /* overflow-y: scroll; */
  /* padding-top: 1rem; */
}
.sticky-top {
  background: #000f41;
  
}
.navbar-brand img {
  /* background-color:#000f41 ; */
  /* z-index: 100; */
}
.logo {
  /* padding: 1rem; */
  height: 5rem ;
  width: 100px;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  margin-left: 2.8rem;
  
  /* margin: .5rem; */
  /* align-items: center; */
}
ul {
  width: 100%;
  margin: 0%;
  padding: 0%;
}
li {
  margin-bottom: .3rem;
  /* margin-bottom: 1.5rem; */
  font-size: 13px;
  padding: 1rem;


  /* width:100%; */
}
a {
  /* margin: 1rem; */
  margin-left: 0%;
  margin-right: 0%;
  padding: 0.4rem;
  /* padding-right: 3rem; */
}

.menutext {
  color: #fff;
}
.sideimg {
  width: 10%;
}
a {
  text-decoration: none;
  /* padding: .5rem; */
  /* width:100% */
}
.active {
  background: cadetblue;
  
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media screen and (max-width: 960px) {
  .wrapper {
    display: none;
  }
}
