<div class="wrapper">
    <div class="sticky-top">
        <a class="navbar-brand " routerLink="/dashboard">
            <img class="logo" src="../../../assets/images/PAS-Logo.png">
        </a>
    </div>

    <hr>

    <ul>

        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/dashboard">
                    <img src="../../../assets/header/dashboard.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Dashboard</span>
                </a>
            </li>
        </div>

        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/items">
                    <img src="../../../assets/header/dashboard.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">All Products</span>
                </a>
            </li>
        </div>
        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/salesorder">
                    <img src="../../../assets/header/new_orders.png" class="sideimg ">
                    &nbsp;&nbsp; <span class="menutext">Sales Order </span>
                </a>
            </li>
        </div>

        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/invoices">
                    <img src="../../../assets/header/customers_icon.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Sales Invoices</span>
                </a>
            </li>
        </div>

        <!-- <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/salesorder">
                    <img src="../../../assets/header/customers_icon.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Sales Order</span>
                </a>
            </li>
        </div> -->


        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/purchase_order">
                    <img src="../../../assets/header/customers_icon.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Purchase Order</span>
                </a>
            </li>
        </div>
        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/purchase_invoice">
                    <img src="../../../assets/header/customers_icon.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Purchase Invoices</span>
                </a>
            </li>
        </div>
        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/customers">
                    <img src="../../../assets/header/customers_icon.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Customers</span>
                </a>
            </li>
        </div>

        <!-- <div routerLinkActive="active">
            <li class="item ">
                <a routerLink="" >
                    <img src="../../../assets/header/customers_icon.png" class="sideimg">
                    &nbsp;&nbsp;
                    <span class="menutext">Company</span>
                </a>
            </li>
        </div> -->
        <div routerLinkActive="active">
            <li class="item">
                <a routerLink="/suppliers" >
                    <img src="../../../assets/header/new_orders.png" class="sideimg ">
                    &nbsp;&nbsp; <span class="menutext">Suppliers</span>
                </a>
            </li>
        </div>
        <div routerLinkActive="active">
            <li class="item ">
                <a routerLink="/login" >
                    <img src="../../../assets/header/new_orders.png" class="sideimg ">
                    &nbsp;&nbsp; <span class="menutext">Logout</span>
                </a>
            </li>
        </div>






    </ul>

</div>