<div class="globalcss_container">
    <h5 class="title">&nbsp; Welcome to Suppliers Dashboard</h5>

    <div class="container">
        <h5 class="title">List of Suppliers</h5>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">

                <thead style="text-align:center">
                    <tr>
                        <th>Supplier Name</th>
                        <th>Supplier Group</th>
                        <th>Country</th>
                        <th>Supplier Type</th>
                        <th>Status</th>
                    </tr>

                </thead>
                
                <tr style="text-align:center">
                    <td>Insurance Company</td>
                    <td>Services</td>
                    <td>India</td>
                    <td>Individual</td>
                    <td>Enabled</td>
                    
                </tr>
                <tr style="text-align:center">
                    <td>Insurance Company</td>
                    <td>Services</td>
                    <td>India</td>
                    <td>Company</td>
                    <td>Enabled</td>
                </tr>
                <tr style="text-align:center">
                    <td>Insurance Company</td>
                    <td>Services</td>
                    <td>India</td>
                    <td>Individual</td>
                    <td>Enabled</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>