<div class="container" style="display: flex; align-items: center;justify-content: center;">
        <mat-card class="mat-elevation-z3" style="border-radius: 10px;margin-left: 20px;margin-right: 20px;">
            <mat-card class="CustomFont heading" style="text-align: center;">
                <b>Forgot Password</b>
            </mat-card>
            <br/>
            <br/>
            <form #forgotPassword="ngForm" (ngSubmit)="forgot(forgotPassword)">
                <div class="form-group" style="display: flex;flex-direction: row;">
                    <div style="display: flex;flex-direction: row;">
                        <mat-icon matPrefix>email</mat-icon>&nbsp;&nbsp;
                        <input matInput ngModel type="email" #email="ngModel" name="email" placeholder="Enter Email" [pattern]="emailpattern" required>
                    </div>
                </div>
                  <small class="text-danger CustomFont" *ngIf="email.invalid && (email.dirty || email.touched) && !email.errors['pattern']" >
                    Email is required<br/></small>
                    <small class="text-danger CustomFont" *ngIf="email.invalid && (email.dirty || email.touched) && email.errors['pattern']" >
                    Enter A Valid Email<br/></small>
                  <br/>
                  <div class="form-group" style="text-align: center;">
                        <button class="btn CustomFont" type="submit" [disabled]="forgotPassword.invalid">Submit</button>
                  </div>
                  <div style="text-align: center;">
                      <small class="CustomFont" style="color: rgb(72, 111, 228);">Please check your Inbox (or Spam) folders <br/>for the
                                   Password Reset Email</small>
                  </div>
                  <br/>
                  <div style="text-align: center;">
                    <a class="CustomFont" routerLink='/login'>Login</a> 
                  </div>    
            </form>
        </mat-card>
</div>