<div class="globalcss_container">
    <h5 class="title">  &nbsp;   Welcome to Purchase Invoice Dashboard</h5>
    <div class="container">
        <h5 class="title">List of Purchase Invoices </h5>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">

                <thead style="text-align:center">
                    <tr>
                        <th>Date</th>
                        <th>Invoice</th>
                        <th>Order Number</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Owner</th>
                    </tr>

                </thead>
                <!-- <tbody> -->
                    <tr style="text-align:center">
                        <td>1</td>
                        <td>123</td>
                        <td>12345</td>
                        <td>1</td>
                        <td>123</td>
                        <td>12345</td>
                        <td>12345</td>
                    </tr>
                    <tr style="text-align:center">
                        <td>1</td>
                        <td>123</td>
                        <td>12345</td>
                        <td>1</td>
                        <td>123</td>
                        <td>12345</td>
                        <td>12345</td>
                    </tr>
                    <tr style="text-align:center">
                        <td>1</td>
                        <td>123</td>
                        <td>12345</td>
                        <td>1</td>
                        <td>123</td>
                        <td>12345</td>
                        <td>12345</td>
                    </tr>
                <!-- </tbody> -->
            </table>
        </div>
    </div>
</div>
