
<div class="globalcss_container">
    <!-- <div class="container"> -->
    <h5 class="title">&nbsp; Welcome to customer Dashboard</h5>

    
    <div class="container">
        <h5 class="title">List of Customers</h5>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">

                <thead style="text-align:center">
                    <tr>
                        <th>Customer Name</th>
                        <th>Customer Group</th>
                        <th>Customer Type</th>

                        <th>Status</th>
                       
                    </tr>

                </thead>
              
                    <tr style="text-align:center">
                        <td>codeswift</td>
                        <td>Commercial</td>
                        <td>company</td>
                        <td>Enabled</td>
                        
                    </tr>
                    <tr style="text-align:center">
                        <td>PAS</td>
                        <td>Commercial</td>
                        <td>company</td>
                        <td>Enabled</td>
                                            </tr>
                    <tr style="text-align:center">
                        <td>Infosys</td>
                        <td>Commercial</td>
                        <td>Individual</td>
                        <td>Enabled</td>
                       
                    </tr>
                
            </table>
        </div>
    </div>
</div>

